@import "./antd.css";
@import "./style/layout/Footer.scss";
@import "./style/layout/Navigation.scss";
@import "./style/layout/Header.scss";
@import "./style/page/Repository.scss";

#root {
  min-width: 470px;
  & > .ant-layout {
    min-height: 100vh;
    .ant-layout-content {
      margin: 0 50px;
      display: flex;
      flex-direction: column;
      .content {
        background: #fff;
        padding: 24px;
        flex: 1;
      }
    }
  }
}

.ant-list-item .ant-tag {
  margin-bottom: 8px;
}

.ant-card .ant-card-meta .digest {
  word-wrap: break-word;
}