@import url(./andt.css);
.ant-layout-footer {
  text-align: center; }

.breadcrumbNavigation {
  margin: 16px 0; }

.ant-layout-header.header {
  flex-direction: row;
  display: flex; }
  .ant-layout-header.header .logo {
    height: 100%;
    padding: 0 0 5px 0; }
  .ant-layout-header.header .buttonBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; }

.repositoryList .ant-list-item-content {
  justify-content: center;
  display: flex; }

#root {
  min-width: 470px; }
  #root > .ant-layout {
    min-height: 100vh; }
    #root > .ant-layout .ant-layout-content {
      margin: 0 50px;
      display: flex;
      flex-direction: column; }
      #root > .ant-layout .ant-layout-content .content {
        background: #fff;
        padding: 24px;
        flex: 1; }

.ant-list-item .ant-tag {
  margin-bottom: 8px; }

.ant-card .ant-card-meta .digest {
  word-wrap: break-word; }
